@charset "ISO-8859-1";

body, html {
  height: 90%;
  font-family:Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}



/* Add styles to the form container */
.container {

  right: 0;
  margin: 20px;
  max-width: 600px;
  max-height:90px;
  padding: 2px;
  background-color: white;
  opacity: 0.8;
  border-radius: 50px;

}

/* Full-width input fields */
input[type=date], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=number]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.centered {
  position: absolute;
  color: white;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;

}


.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
li {
  float: left;
}

li a,h5{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1,p{
  display:block;
  color:green;
  }
li a:hover:not(.active) {
  background-color: #d9d9d9;
}
.active {
  background-color: transparent;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
                     }


.about-section {
  padding: 50px;
  text-align: center;
  background-color:black;
}

* {
  box-sizing: border-box;
}



